/* ../media/css/global.css */
/*
  PostgreSQL.org - Global Styles
*/

/* center some titles */

.BOOK .TITLE, .BOOK .CORPAUTHOR, .BOOK .COPYRIGHT {
	text-align: center;
}

BODY {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1.0em;
    background: #FDFDFD;
    color: #353A3F;
    font-family: "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, verdana, sans-serif;
}

/*
body {
  margin: 0;
  padding: 0;
  font-family: verdana, sans-serif;
  font-size: 69%;
  color: #000;
  background-color: #fff;
}*/

h1 {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 0em;
  margin-bottom: 0em;
}

h2 {
  font-size: 1.2em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

h3 {
  font-size: 1.0em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

h4 {
  font-size: 0.95em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: normal;
}

h5 {
  font-size: 0.9em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: normal;
}

h6 {
  font-size: 0.85em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: normal;
}

img {
  border: 0;
}

ol, ul, li {/*
  list-style: none;*/
  font-size: 1.0em;
  line-height: 1.2em;
  margin-top: 0.2em;
  margin-bottom: 0.1em;
}

p {
  font-size: 1.0em;
  line-height: 1.2em;
  margin: 1.2em 0em;
}

td p {
  margin: 0em 0em 1.2em;
}

li > p {
  margin-top: 0.2em;
}

pre {
  font-family: monospace;
  font-size: 1.0em;
}

div#pgContentWrap code {
  font-size: 1.2em;
  padding: 1em;
  margin: 2ex 0 2ex 2ex;
  background: #F7F7F7;
  border: 1px solid #CFCFCF;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  display: block;
  overflow: auto;
}

strong, b {
  font-weight: bold;
}

/* ../media/css/table.css */
/*
  PostgreSQL.org - Table Styles
*/

div.tblBasic h2 {
        margin: 25px 0 .5em 0;
}

div.tblBasic table {
        background: #F5F5F5 url(/media/img/layout/nav_tbl_top_lft.png) top left no-repeat;
  margin-left: 2ex;
        margin-bottom: 15px;
}

div.tblBasic table th {
        padding-top: 20px;
        border-bottom: 1px solid #EFEFEF;
        vertical-align: bottom;
}

div.tblBasic table td {
        border-bottom: 1px solid #EFEFEF;
}

div.tblBasic table th,
div.tblBasic table td {
        padding: 8px 11px;
        color: #555555;
}

div.tblBasic table td.indented {
        text-indent: 30px;
}

div.tblBasic table.tblCompact td {
        padding: 3px 3px;
}

div.tblBasic table tr.lastrow td {
        border-bottom: none;
        padding-bottom: 13px;
}

div.tblBasic table.tblCompact tr.lastrow td {
        padding-bottom: 3px;
}

div.tblBasic table tr.lastrow td.colFirstT,
div.tblBasic table tr.lastrow td.colFirst {
        background: url(/media/img/layout/nav_tbl_btm_lft.png) bottom left no-repeat;
}

div.tblBasic table.tblBasicGrey th.colLast,
div.tblBasic table.tblCompact th.colLast {
        background: #F5F5F5 url(/media/img/layout/nav_tbl_top_rgt.png) top right no-repeat;
}

div.tblBasic table.tblBasicGrey tr.lastrow td.colLastT,
div.tblBasic table.tblBasicGrey tr.lastrow td.colLast,
div.tblBasic table.tblCompact tr.lastrow td.colLast,
div.tblBasic table.tblCompact tr.lastrow td.colLastT{
        background: #F5F5F5 url(/media/img/layout/nav_tbl_btm_rgt.png) bottom right no-repeat;
}

div.tblBasic table.tblBasicGrey tr.firstrow td.colLastT,
div.tblBasic table.tblBasicGrey tr.firstrow td.colLast,
div tblBasic table.tblCompact tr.firstrow td.colLast {
        background: #F5F5F5 url(/media/img/layout/nav_tbl_top_rgt.png) top right no-repeat;
}

div.tblBasic table th.colMid,
div.tblBasic table td.colMid,
div.tblBasic table th.colLast,
div.tblBasic table td.colLast {
        background-color: #F5F5F5 ;
}

div.tblBasic table th.colLastC,
div.tblBasic table td.colFirstC,
div.tblBasic table td.colLastC {
        text-align: center;
}

div.tblBasic table th.colLastR,
div.tblBasic table td.colFirstR,
div.tblBasic table td.colLastR {
        text-align: right;
}

div.tblBasic table td.colFirstT,
div.tblBasic table td.colMidT,
div.tblBasic table td.colLastT {
        vertical-align: top;
}

div.tblBasic table th.colLastRT,
div.tblBasic table td.colFirstRT,
div.tblBasic table td.colLastRT {
        text-align: right;
        vertical-align: top;
}

/* ../media/css/text.css */
/*
  PostgreSQL.org - Text Styles
*/

/* Heading Definitions */

h1 {
  color: #EC5800;
}

h2 {
  color: #666;
}

h3 {
  color: #666;
}

h4 {
  color: #666;
}

/* Text Styles */

.txtColumn1 {
  width: 50%;
  line-height: 1.3em;
}

.txtColumn2 {
  width: 50%;
  line-height: 1.5em;
}

.txtCurrentLocation {
  font-weight: bold;
}

.txtDivider {
  font-size: 0.8em;
  color: #E1E1E1;
  padding-left: 4px;
  padding-right: 4px;
}

.txtNewsEvent {
  font-size: 0.9em;
  color: #0094C7;
}

.txtDate {
  font-size: 0.9em;
  color: #666;
}

.txtMediumGrey {
  color: #666;
}

.txtFormLabel {
  color: #666;
  font-weight: bold;
  text-align: right;
  vertical-align: top;
}

.txtRequiredField {
  color: #EC5800;
}

.txtImportant {
  color: #EC5800;
}

.txtOffScreen {
  position: absolute;
  left: -1999px;
  width: 1990px;
}

#txtFrontFeatureHeading {
  padding-bottom: 1.1em;
}

#txtFrontFeatureLink a {
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 5px;
}

#txtFrontUserText {
  font-size: 1.0em;
  color: #666;
  margin-top: 12px;
}

#txtFrontUserName {
  font-size: 0.9em;
  color: #666;
  margin-top: 9px;
  font-weight: bold;
}

#txtFrontUserLink {
  font-size: 0.9em;
  color: #666;
  margin-top: 11px;
  margin-left: 1px;
}

#txtFrontUserLink img {
  padding-right: 5px;
}

#txtFrontSupportUsText {
  font-size: 1.0em;
  margin-top: 9px;
}

#txtFrontSupportUsLink {
  font-size: 0.9em;
  margin-top: 6px;
}

#txtFrontSupportUsLink img {
  padding-right: 7px;
}

/* Link Styles */

a:link                          { color:#0085B0; text-decoration: underline; }
a:visited                       { color:#004E66; text-decoration: underline; }
a:active                        { color:#0085B0; text-decoration: underline; }
a:hover                         { color:#000000; text-decoration: underline; }

#pgFooter a:link                { color:#666; text-decoration: underline; }
#pgFooter a:visited             { color:#666; text-decoration: underline; }
#pgFooter a:active              { color:#666; text-decoration: underline; }
#pgFooter a:hover               { color:#000000; text-decoration: underline; }

#txtFrontUserName a:link                { color:#666; text-decoration: underline; }
#txtFrontUserName a:visited             { color:#666; text-decoration: underline; }
#txtFrontUserName a:active              { color:#666; text-decoration: underline; }
#txtFrontUserName a:hover               { color:#000; text-decoration: underline; }

#txtArchives a:visited  { color:#00536E; text-decoration: underline; }
#txtArchives pre  { word-wrap: break-word; font-size: 150%; }
#txtArchives tt   { word-wrap: break-word; font-size: 150%; }

#pgFrontUSSContainer h2, #pgFrontUSSContainer h3 {
  margin: 0;
  padding: 0;
}

#pgFrontNewsEventsContainer h2, #pgFrontNewsEventsContainer h3 {
  margin: 0;
  padding: 0;
}

#pgFrontNewsEventsContainer h3 img {
  margin-bottom: 10px;
}

/* ../media/css/docs.css */
/* PostgreSQL.org Documentation Style */

/* requires global.css, table.css and text.css to be loaded before this file! */
/*
body {
  font-size: 76%;
}
*/

div.NAVHEADER table, div.NAVFOOTER table{
  margin-left: 0;
}

/* Container Definitions */

#docContainerWrap {
  text-align: center; /* Win IE5 */
}

#docContainer {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 2em;
  display: block;
  text-align: left; /* Win IE5 */
}

#docHeader {
  background-image: url("/media/img/docs/bg_hdr.png");
  height: 83px;
  margin: 0px;
  padding: 0px;
  display: block;
}

#docHeaderLogo {
  position: relative;
  width: 206px;
  height: 83px;
  border: 0px;
  padding: 0px;
  margin: 0 0 0 20px;
}

#docHeaderLogo img {
  border: 0px;
}

#docNavSearchContainer {
  padding-bottom: 2px;
}

#docNav, #docVersions {
  position: relative;
  text-align: left;
  margin-left: 10px;
  margin-top: 5px;
  color: #666;
  font-size: 0.95em;
}

#docSearch {
  position: relative;
  text-align: right;
  padding: 0;
  margin: 0;
  color: #666;
}

#docTextSize {
  text-align: right;
  white-space: nowrap;
  margin-top: 7px;
  font-size: 0.95em;
}

#docSearch form {
  position: relative;
  top: 5px;
  right: 0;
  margin: 0; /* need for IE 5.5 OSX */
  text-align: right; /* need for IE 5.5 OSX */
  white-space: nowrap; /* for Opera */
}

#docSearch form label {
  color: #666;
  font-size: 0.95em;
}

#docSearch form input {
  font-size: 0.95em;
}

#docSearch form #submit {
  font-size: 0.95em;
  background: #7A7A7A;
  color: #fff;
  border: 1px solid #7A7A7A;
  padding: 1px 4px;
}

#docSearch form #q {
  width: 170px;
  font-size: 0.95em;
  border:  1px solid #7A7A7A;
  background: #E1E1E1;
  color: #000000;
  padding: 2px;
}

.frmDocSearch {
  padding: 0;
  margin: 0;
  display: inline;
}

.inpDocSearch {
  padding: 0;
  margin: 0;
  color: #000;
}

#docContent {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
}

#docFooter {
  position: relative;
  font-size: 0.9em;
  color: #666;
  line-height: 1.3em;
  margin-left: 10px;
  margin-right: 10px;
}

#docComments {
  margin-top: 10px;
}

#docClear {
  clear: both;
  margin: 0;
  padding: 0;
}

/* Heading Definitions */

h1, h2, h3 {
  font-weight: bold;
  margin-top: 2ex;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em !important;
}

h3 {
  font-size: 1.1em;
}

h1 a:hover {
  color: #EC5800;
  text-decoration: none;
}

h2 a:hover,
h3 a:hover,
h4 a:hover {
  color: #666666;
  text-decoration: none;
}

/* Text Styles */

div.SECT2 {
  margin-top: 4ex;
}

div.SECT3 {
  margin-top: 3ex;
  margin-left: 3ex;
}

.txtCurrentLocation {
  font-weight: bold;
}

p, ol, ul, li {
  line-height: 1.5em;
}

.txtCommentsWrap {
  border: 2px solid #F5F5F5;
  width: 100%;
}

.txtCommentsContent {
  background: #F5F5F5;
  padding: 3px;
}

.txtCommentsPoster {
  float: left;
}

.txtCommentsDate {
  float: right;
}

.txtCommentsComment {
  padding: 3px;
}

#docContainer pre code,
#docContainer pre tt,
#docContainer pre pre,
#docContainer tt tt,
#docContainer tt code,
#docContainer tt pre {
  font-size: 1em;
}

pre.LITERALLAYOUT,
.SCREEN,
.SYNOPSIS,
.PROGRAMLISTING,
.REFSYNOPSISDIV p,
table.CAUTION,
table.WARNING,
blockquote.NOTE,
blockquote.TIP,
table.CALSTABLE {
  -moz-box-shadow: 3px 3px 5px #DFDFDF;
  -webkit-box-shadow: 3px 3px 5px #DFDFDF;
  -khtml-box-shadow: 3px 3px 5px #DFDFDF;
  -o-box-shadow: 3px 3px 5px #DFDFDF;
  box-shadow: 3px 3px 5px #DFDFDF;
}

pre.LITERALLAYOUT,
.SCREEN,
.SYNOPSIS,
.PROGRAMLISTING,
.REFSYNOPSISDIV p,
table.CAUTION,
table.WARNING,
blockquote.NOTE,
blockquote.TIP {
  color: black;
  border-width: 1px;
  border-style: solid;
  padding: 2ex;
  margin: 2ex 0 2ex 2ex;
  overflow: auto;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

pre.LITERALLAYOUT,
pre.SYNOPSIS,
pre.PROGRAMLISTING,
.REFSYNOPSISDIV p,
.SCREEN {
  border-color: #CFCFCF;
  background-color: #F7F7F7;
}

blockquote.NOTE,
blockquote.TIP {
  border-color: #DBDBCC;
  background-color: #EEEEDD;
  padding: 14px;
  width: 572px;
}

blockquote.NOTE,
blockquote.TIP,
table.CAUTION,
table.WARNING {
  margin: 4ex auto;
}

blockquote.NOTE p,
blockquote.TIP p {
  margin: 0;
}

blockquote.NOTE pre,
blockquote.NOTE code,
blockquote.TIP pre,
blockquote.TIP code {
  margin-left: 0;
  margin-right: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -khtml-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.emphasis,
.c2 {
  font-weight: bold;
}

.REPLACEABLE {
  font-style: italic;
}

/* Table Styles */

table {
  margin-left: 2ex;
}

table.CALSTABLE td,
table.CALSTABLE th,
table.CAUTION td,
table.CAUTION th,
table.WARNING td,
table.WARNING th {
  border-style: solid;
}

table.CALSTABLE,
table.CAUTION,
table.WARNING {
  border-spacing: 0;
  border-collapse: collapse;
}

table.CALSTABLE
{
  margin: 2ex 0 2ex 2ex;
  background-color: #E0ECEF;
  border: 2px solid #A7C6DF;
}

table.CALSTABLE tr:hover td
{
  background-color: #EFEFEF;
}

table.CALSTABLE td {
  background-color: #FFF;
}

table.CALSTABLE td,
table.CALSTABLE th {
  border: 1px solid #A7C6DF;
  padding: 0.5ex 0.5ex;
}

table.CAUTION,
table.WARNING {
  border-collapse: separate;
  display: block;
  padding: 0;
  max-width: 600px;
}

table.CAUTION {
  background-color: #F5F5DC;
  border-color: #DEDFA7;
}

table.WARNING {
  background-color: #FFD7D7;
  border-color: #DF421E;
}

table.CAUTION td,
table.CAUTION th,
table.WARNING td,
table.WARNING th {
  border-width: 0;
  padding-left: 2ex;
  padding-right: 2ex;
}

table.CAUTION td,
table.CAUTION th {
  border-color: #F3E4D5
}

table.WARNING td,
table.WARNING th {
  border-color: #FFD7D7;
}

td.c1,
td.c2,
td.c3,
td.c4,
td.c5,
td.c6 {
  font-size: 1.1em;
  font-weight: bold;
  border-bottom: 0px solid #FFEFEF;
  padding: 1ex 2ex 0;
}

/* Link Styles */

#docNav a {
  font-weight: bold;
}

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: underline;
}

a:link,
a:active {
  color:#0066A2;
}

a:visited {
  color:#004E66;
}

a:hover {
  color:#000000;
}

#docFooter a:link,
#docFooter a:visited,
#docFooter a:active {
  color:#666;
}

#docContainer code.FUNCTION tt {
  font-size: 1em;
}

